@tailwind base;
@tailwind components;
@tailwind utilities;

/* Create grid for  MarketPage Section */

@media screen and (min-width: 1024px) {  
  .products-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 2em;
  }

  .products-grid-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    column-gap: 2rem;
    row-gap: 3.2rem;
  }
}

/* create gradient for marketplace button component */

.linear-btn {
background: linear-gradient(94.97deg, #78A3AD 24.64%, rgba(192, 86, 9, 0.49) 118.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
border-radius: 10px;
border: 2px solid;
padding: .7rem 2.4rem
}

/* Style List items in src/views/Marketplace/MarketCart/MarketCart.tsx */
@layer components{
  .cart-list {
  @apply flex justify-between my-5 lg:my-8;
}

  .cart-list span{
    @apply font-medium text-dark_gray_clr-300;
  }

  /* style form elements in src/views/Marketplace/Shop/components/Form.tsx */
  .form-container {
    @apply flex flex-col gap-4 lg:gap-6 my-8
  }

  .form-label {
    @apply text-[#888888] font-satoshi text-xl first-letter:uppercase lg:text-[26px]
  }

  .form-input {
    @apply border-[0.5px] border-[#747474] border-opacity-30 bg-[#F2F2F2] w-full py-3 px-4 rounded-[10px] font-satoshi placeholder:text-[#888888] placeholder:lg:text-[26px]
    lg:py-6 lg:px-8
  }

}
